{% extends 'base.html' %}
{% load MyTag %}

{% block title %}
<h1 class="page-header">用户组列表</h1>
{% endblock %}




{% block trend %}


<div id="page-content">


                <div class="" style="margin-bottom: 7px;">
                        <a href="/vpngroup/add_group/" class="btn btn-sm btn-primary "> 添加用户组 </a>
                        <a href="/del-all/" class="btn btn-sm btn-danger " disabled="ture"> 删除所选 </a>
                    </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-3"></div>
{#                    <form action="/index/" method="post" class="form-inline">#}
{#                        {% csrf_token %}#}
{#                    </form>#}

{#                    <button type="button" class="btn btn-primary" style="margin-bottom: 7px;">添加用户</button>#}
                    <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th class="text-center"><input type="checkbox" id="check_all"></th>
                            <th class="text-center">组名</th>
                            <th class="text-center">成员数目</th>
                            <th class="text-center">路由策略</th>
{#                            <th class="text-center">备注</th>#}
                            <th class="text-center">操作</th>
                        </tr>
                        {% for foo in user_groups.object_list %}
                        <tr>
                            <td class="text-center"><input type="checkbox" value="{{ foo.id  }}"></td>
                            <td class="text-center">{{ foo.name }}</td>
                            <td class="text-center">
                                    <a href="{% url 'user_list' %}?gid={{ foo.id }}"> {{ foo.id | members_count }}</a>
                            </td>
                            <td class="text-center">{{ foo.routemgr.name }}</td>
{#                            <td class="text-center">#}
{#                                <a href="#"> {{ foo.mark }}</a>#}
{#                            </td>#}
                            <td class="text-center">
                                <a href="/vpngroup/g_edit-id={{ foo.id }}" class="btn btn-xs btn-info">编辑</a>
                                <a href="/vpngroup/g_delete-id={{ foo.id }}" class="btn btn-xs btn-danger">删除</a>
                            </td>
                        </tr>

                        {% endfor %}
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                                Showing {{ users.start_index }} to {{ users.end_index }} of {{ p.count }} entries
                            </div>
                        </div>
                        {% include 'include/paginator.html' %}
                    </div>
                </div>

            </div>

{% endblock %}

{% block scripts %}
    <script>
        $('#check_all').click(function () {
            $('input').prop('checked',!$('input').prop('checked'))
        })
    </script>


{% endblock %}