{% extends 'base.html' %}


{% block title %}
    <h1 class="page-header">网络地址列表</h1>
{% endblock %}


{% block trend %}



    <form method="post" action="/vpnnetwork/n_edit-id={{ nid }}" novalidate>
        {% csrf_token %}
        <div class="form-group" style="margin-left: 25%;">
            <label for="exampleInputName2">ip地址</label>
            {#            <input type="text" class="form-control" id="name" placeholder="姓名" value="{{ obj.name }}" style="width: 50%;">#}
            {{ obj.addrname }}
            <span>{{ obj.errors.addrname.0 }}</span>
        </div>
        <div class="form-group" style="margin-left: 25%;">
            <label for="exampleInputName2">网关地址</label>
            {{ obj.gw_addrname }}
            <span>{{ obj.errors.gw_addrname.0 }}</span>
        </div>


        <button type="submit" class="btn btn-default" style="margin-left: 25%;">Submit</button>
    </form>




{% endblock %}
